/.metadata/
VetoresListas/.classpath
VetoresListas/.project
VetoresListas/.settings/org.eclipse.core.resources.prefs
VetoresListas/.settings/org.eclipse.jdt.core.prefs
VetoresListas/src/module-info.java
*.class
ExercicioEstruturaDados/.classpath
ExercicioEstruturaDados/.project
ExercicioEstruturaDados/.settings/org.eclipse.jdt.core.prefs
ExercicioEstruturaDados/.settings/org.eclipse.core.resources.prefs
ExercicioEstruturaDados/src/module-info.java
Pilhas/.classpath
Pilhas/.project
Pilhas/.settings/org.eclipse.core.resources.prefs
Pilhas/.settings/org.eclipse.jdt.core.prefs
Pilhas/src/module-info.java
ExerciciosPilha/.classpath
ExerciciosPilha/.project
ExerciciosPilha/.settings/org.eclipse.jdt.core.prefs
ExerciciosPilha/.settings/org.eclipse.core.resources.prefs
ExerciciosPilha/src/module-info.java
Filas/.classpath
Filas/.project
Filas/.settings/org.eclipse.core.resources.prefs
Filas/.settings/org.eclipse.jdt.core.prefs
Filas/src/module-info.java
ListasEncadeadas/.classpath
ListasEncadeadas/.project
ListasEncadeadas/.settings/org.eclipse.core.resources.prefs
ListasEncadeadas/.settings/org.eclipse.jdt.core.prefs
ListasEncadeadas/src/module-info.java
